apache-airflow==3.1.5
apache-airflow-core==3.1.5
apache-airflow-providers-amazon==9.18.0
apache-airflow-providers-celery==3.14.0
apache-airflow-providers-cncf-kubernetes==10.11.0
apache-airflow-providers-common-compat==1.10.0
apache-airflow-providers-common-io==1.7.0
apache-airflow-providers-common-messaging==2.0.1
apache-airflow-providers-common-sql==1.30.0
apache-airflow-providers-docker==4.5.0
apache-airflow-providers-elasticsearch==6.4.0
apache-airflow-providers-fab==3.0.3
apache-airflow-providers-ftp==3.14.0
apache-airflow-providers-git==0.1.0
apache-airflow-providers-google==19.1.0
apache-airflow-providers-grpc==3.9.0
apache-airflow-providers-hashicorp==4.4.0
apache-airflow-providers-http==5.6.0
apache-airflow-providers-microsoft-azure==12.9.0
psycopg2-binary==2.9.11
pandas==2.2.3
openpyxl==3.1.5
pyxlsb==1.0.10
pre-commit==4.2.0
